@import "../../css/variables.module.scss";

.excalidraw {
  .sidebar-trigger {
    @include outlineButtonStyles;
    // @Excalibar
    // @include filledButtonOnCanvas;

    // @Excalibar
    // width: auto;
    // height: var(--lg-button-size);

    display: flex;
    align-items: center;

    // @Excalibar
    // gap: 0.5rem;

    // line-height: 0;

    // font-size: 0.75rem;
    // letter-spacing: 0.4px;

    svg {
      width: var(--default-icon-size);
      height: var(--default-icon-size);
      color: var(--icon-fill-color);
    }

    // @Excalibar
    // &__label-element {
    //   align-self: flex-start;
    // }

    // @Excalibar
    width: var(--default-button-size);
    height: var(--default-button-size);
    padding: 0;
    border-radius: 0;
  }

  // @Excalibar
  // .default-sidebar-trigger .sidebar-trigger__label {
  //   display: block;
  //   white-space: nowrap;
  // }

  // @Excalibar
  // &.excalidraw--mobile .default-sidebar-trigger .sidebar-trigger__label {
  //   display: none;
  // }

  // @Excalibar
  .sidebar-trigger:active {
    background: var(--button-hover-bg);
    border: 1px solid var(--button-active-border);
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
  }
}
